<ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="10" class="ion-text-center">
        <img src="assets/img/Logo.png" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-content>
    <ion-item>
      <ion-label class="ion-text-center" color="primary">
        {{usuarios}}
      </ion-label>
      <ion-icon name="power-outline" (click)="logOut()" color="primary"></ion-icon>

    </ion-item>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="viaje">
        <ion-label color="primary">
          Ubicación
          <ion-icon name="map-outline" color="primary"></ion-icon>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="cotizar">
        <ion-label color="primary">Viajes Cotizados
          <ion-icon name="car-outline" color="primary"></ion-icon>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ion-content>
</ion-content>
<ion-button expand="block" class="primary" (click)="costo()">VER COSTOS</ion-button>