<ion-content>
  <ion-list *ngFor="let via of viajes">
    <ion-card>
      <ion-card-subtitle class="ion-text-center">Sede: {{via.sede.nombre}}</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Destino: {{via.comuna.name}} </ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Vehiculo: {{via.tipoVehiculo.tipo}}
      </ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">
        Vehiculo Propio: {{via.vehiculoPropio.Tiene}}
      </ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">
        Costo : $2000
      </ion-card-subtitle>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button color="primary">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>